In [3]:
!ls -alh Data

total 12G
drwxrwxr-x 2 triznam triznam 4.0K Feb 14 15:32 .
drwxrwxr-x 4 triznam triznam 4.0K Feb 17 10:41 ..
-rw-rw-r-- 1 triznam triznam 3.2M Feb  1 04:32 creatoridentifier.txt
-rw-rw-r-- 1 triznam triznam  29M Feb  1 04:31 creator.txt
-rw-rw-r-- 1 triznam triznam  13M Feb  1 04:31 doi.txt
-rw-rw-r-- 1 triznam triznam  99M Feb  1 04:32 item.txt
-rw-rw-r-- 1 triznam triznam 7.8G Feb  1 04:42 pagename.txt
-rw-rw-r-- 1 triznam triznam 3.4G Feb  1 04:48 page.txt
-rw-rw-r-- 1 triznam triznam  18M Feb  1 04:32 partcreator.txt
-rw-rw-r-- 1 triznam triznam 9.4M Feb  1 04:32 partidentifier.txt
-rw-rw-r-- 1 triznam triznam 112M Feb  1 04:32 part.txt
-rw-rw-r-- 1 triznam triznam  33M Feb  1 04:31 subject.txt
-rw-rw-r-- 1 triznam triznam  17M Feb  1 04:31 titleidentifier.txt
-rw-rw-r-- 1 triznam triznam  49M Feb  1 04:31 title.txt

In [5]:
import pandas as pd

In [7]:
page_df = pd.read_csv('Data/page.txt', sep='\t', nrows=1000)
page_df.head()

,PageID,ItemID,SequenceOrder,Year,Volume,Issue,PagePrefix,PageNumber,PageTypeName,CreationDate
0,8,698,8,1905,36,1,Page,1,Text,2006-05-12 00:00
1,25,698,25,1905,36,1,Page,18,Text,2006-05-12 00:00
2,32,698,32,1905,36,1,Page,25,Text,2006-05-12 00:00
3,59,698,59,1905,36,1,Page,52,Text,2006-05-12 00:00
4,62,698,62,1905,36,1,Page,55,Text,2006-05-12 00:00