In [1]:
import pandas as pd

In [2]:
bhl_pages = pd.read_csv('page_subset_htr_candidates.tsv', sep='\t')
bhl_pages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962747 entries, 0 to 962746
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   PageID        962747 non-null  int64
 1   ItemID        962747 non-null  int64
 2   PageTypeName  962719 non-null  object
dtypes: int64(2), object(1)
memory usage: 22.0+ MB

In [3]:
bhl_pages['PageTypeName'].value_counts(dropna=False)

Text                     807215
Illustration              67305
Blank                     56364
Chart                     13403
Cover                      7017
Foldout                    5393
Map                        2311
Title Page                 1599
Index                      1068
Table of Contents           814
List of Illustrations        84
Appendix                     52
Issue Start                  41
Specimen                     29
NaN                          28
Article End                  12
Article Start                12
Name: PageTypeName, dtype: int64

In [5]:
bhl_pages = bhl_pages.drop_duplicates(subset=['PageID'],
                                      keep=False)
bhl_pages.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714588 entries, 1 to 962746
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   PageID        714588 non-null  int64
 1   ItemID        714588 non-null  int64
 2   PageTypeName  714562 non-null  object
dtypes: int64(2), object(1)
memory usage: 21.8+ MB

In [6]:
bhl_pages['PageTypeName'].value_counts(dropna=False)

Text                     624625
Blank                     48090
Illustration              23538
Chart                      7827
Cover                      6457
Title Page                 1266
Foldout                     984
Table of Contents           690
Map                         561
Index                       384
List of Illustrations        76
Appendix                     44
NaN                          26
Specimen                     17
Issue Start                   3
Name: PageTypeName, dtype: int64

In [7]:
pages_to_dl = bhl_pages.groupby(['ItemID','PageTypeName']).sample(3, 
                                                                  replace=True, 
                                                                  random_state=42)
pages_to_dl.head(20)

       PageID  ItemID       PageTypeName
75    1646675   17643              Cover
75    1646675   17643              Cover
75    1646675   17643              Cover
394   1646727   17643               Text
1474  1646742   17643               Text
310   1646791   17643               Text
57    1646685   17643         Title Page
57    1646685   17643         Title Page
57    1646685   17643         Title Page
348   2374272   19690              Cover
348   2374272   19690              Cover
838   2374137   19690              Cover
2844  2374135   19690  Table of Contents
2844  2374135   19690  Table of Contents
2844  2374135   19690  Table of Contents
1534  2374152   19690               Text
135   2374472   19690               Text
823   2374307   19690               Text
345   2374225   19690         Title Page
345   2374225   19690         Title Page

In [8]:
pages_to_dl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37524 entries, 75 to 834734
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PageID        37524 non-null  int64
 1   ItemID        37524 non-null  int64
 2   PageTypeName  37524 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [9]:
pages_to_dl = pages_to_dl.drop_duplicates()
pages_to_dl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27009 entries, 75 to 834734
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PageID        27009 non-null  int64
 1   ItemID        27009 non-null  int64
 2   PageTypeName  27009 non-null  object
dtypes: int64(2), object(1)
memory usage: 844.0+ KB

In [10]:
pages_to_dl.head(20)

         PageID  ItemID       PageTypeName
75      1646675   17643              Cover
394     1646727   17643               Text
1474    1646742   17643               Text
310     1646791   17643               Text
57      1646685   17643         Title Page
348     2374272   19690              Cover
838     2374137   19690              Cover
2844    2374135   19690  Table of Contents
1534    2374152   19690               Text
135     2374472   19690               Text
823     2374307   19690               Text
345     2374225   19690         Title Page
861155  2390601   19761              Cover
1624    2390348   19761              Cover
2420    2390346   19761  Table of Contents
861149  2390502   19761               Text
940     2390426   19761               Text
952     2390595   19761               Text
2872    2390465   19761         Title Page
1577    2412814   19830              Cover

In [11]:
pages_to_dl['PageTypeName'].value_counts()

Text                     13022
Cover                     4844
Blank                     4709
Illustration              1510
Title Page                1202
Table of Contents          574
Chart                      388
Foldout                    380
Map                        244
Index                      102
List of Illustrations       19
Appendix                     7
Specimen                     6
Issue Start                  2
Name: PageTypeName, dtype: int64

In [12]:
types_to_keep = ['Text','Blank','Cover','Illustration','Chart']
pages_to_dl = pages_to_dl[pages_to_dl['PageTypeName'].isin(types_to_keep)]
pages_to_dl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24473 entries, 75 to 472661
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PageID        24473 non-null  int64
 1   ItemID        24473 non-null  int64
 2   PageTypeName  24473 non-null  object
dtypes: int64(2), object(1)
memory usage: 764.8+ KB

In [13]:
pages_to_dl.to_csv('pages_to_download.tsv', sep='\t', index=False)